header {
  display: flex;
  justify-content: space-around;
  background-color: darkgoldenrod;
}

main {
  background-color: goldenrod;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  padding: 15px;
}

p {
  font-size: 16px;
  padding: 20px;
}

.choice-btn {
    background-color: darkgoldenrod;
    border: 5px;
    color: rgb(241, 238, 67);
    padding: 15px 15px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }

  .choice-btn:hover {
    background-color: burlywood;
    color: white;
  }

  button {
    background-color: darkgoldenrod;
    color: rgb(241, 238, 67);
    font-size: 16px;
    border-radius: 12px;
  }

  button:hover {
    background-color: burlywood;
    color: white;
  }

  #save-score {
    color: rgb(81, 58, 1);
    font-size: 16px;
    padding: 15px;
  }

  #show-results {
    background-color: darkgoldenrod;
    display: flow;
    padding: 15px;
  }

  #start-display {
    padding: 15px;
  }