header {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style-type: none;
}

p {
  font-size: 16px;
}

.choice-btn {
    background-color: rgb(150, 91, 14);
    border: 5px;
    color: rgb(241, 238, 67);
    padding: 15px 15px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }

  .choice-btn:hover {
    background-color: burlywood;
    color: white;
  }

  ul {
    list-style-type: none;
  }